[View in Colaboratory](https://colab.research.google.com/github/takeo-asai/Practice-Python-Data-Science/blob/master/section4/lecture17.ipynb)

In [0]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4], index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [5]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [6]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [7]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [13]:
dframe = DataFrame(randn(25).reshape(5,5), index=['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  1.670078 -1.850907  1.288112  0.882775 -1.814030
B -0.356120  0.328406  0.710384 -0.479033 -0.703221
D -0.090081 -1.192197 -1.361029 -0.525896  1.253072
E -0.252150 -0.617214  0.440349 -1.585703 -0.474137
F -0.690906 -1.476152  0.336553 -1.029763 -0.194516

In [15]:
new_index = ['A','B','C','D','E','F']
dframe2 = dframe.reindex(new_index)
dframe2

       col1      col2      col3      col4      col5
A  1.670078 -1.850907  1.288112  0.882775 -1.814030
B -0.356120  0.328406  0.710384 -0.479033 -0.703221
C       NaN       NaN       NaN       NaN       NaN
D -0.090081 -1.192197 -1.361029 -0.525896  1.253072
E -0.252150 -0.617214  0.440349 -1.585703 -0.474137
F -0.690906 -1.476152  0.336553 -1.029763 -0.194516

In [17]:
new_columns = ['col1','col2','col3','col4','col5', 'col6']
dframe.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  1.670078 -1.850907  1.288112  0.882775 -1.814030   NaN
B -0.356120  0.328406  0.710384 -0.479033 -0.703221   NaN
D -0.090081 -1.192197 -1.361029 -0.525896  1.253072   NaN
E -0.252150 -0.617214  0.440349 -1.585703 -0.474137   NaN
F -0.690906 -1.476152  0.336553 -1.029763 -0.194516   NaN

In [19]:
dframe.ix[new_index, new_columns]

       col1      col2      col3      col4      col5  col6
A  1.670078 -1.850907  1.288112  0.882775 -1.814030   NaN
B -0.356120  0.328406  0.710384 -0.479033 -0.703221   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.090081 -1.192197 -1.361029 -0.525896  1.253072   NaN
E -0.252150 -0.617214  0.440349 -1.585703 -0.474137   NaN
F -0.690906 -1.476152  0.336553 -1.029763 -0.194516   NaN